$primary: #de4f4f;
$secondary: #2b2e39;
$white:#FEFEFA;
$phone: 768px;
$section_width: 1200px;

*, *:after, *:before{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.container{
    width:100%;
    display:grid;
    justify-items:center;
}
.section{
    max-width: $section_width;
}

.button{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:1px;
    color:black;
    background:$primary;
    cursor: pointer;
    transition: background .3s ease, color .3s ease;
    padding: 10px;

    &.with-icon{
        padding:10px 10px 5px 10px;
    }

    &:hover{
        background: $secondary;
        color:white;
    }
    &.white{
        background: $secondary;
        color:white;
        border: 1px solid $secondary;
        &:hover{
            background: white;
            color:$secondary;
        }
    }
}

// Box Shadows
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
